<div class="body" id="1">
  <div class='container-fluid'>
    <div class="row">
      <div class='col-sm-12'><nav-menu></nav-menu></div>
    </div>
    <div class="row" id="row1">

      <div class="col-sm-12"><router-outlet></router-outlet></div>

    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Made with <3 by <a href="https://twitter.com/chrisoncode">Elliott Bregni</a>
          </p>
          <a class=" btn-twitter btn-lg btn btn-social-icon btn-lg ">
            <span class="fa fa-twitter"></span>
          </a>
         
    <a href=""class=" btn-lg btn btn-social-icon btn-lg ">
      <span class="fa fa-facebook"></span>
    </a>
    <a class=" btn btn-social-icon btn-lg btn-github ">
      <span class="fa fa-github"></span>
    </a>
    <a class=" btn btn-social-icon btn-lg btn-github ">
      <span class="fa fa-instagram"></span>
    </a>
    <a href="https://www.linkedin.com/in/elliott-bregni-07a562a7/   "class=" btn btn-social-icon btn-lg btn-github ">
      <span class="fa fa-linkdin"></span>
    </a>
        </div>
      </div>
    </footer>
    `
  </div>

  </div>
